body{
    background-color: #F5F5F5;
    font-family: Garamond, serif;
}

h1{
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    font-style: italic;
}
h3{
    font-size: 32px;
    background-color: rgba(0,0,0,0.1);  
}

li, p.enjoyMsg{
    font-size: 24px;
}
p.enjoyMsg{
    text-align: center;
    font-weight: bold;
}
a{
    text-decoration: underline;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}
a:hover,a:active, a{
    color: black;
}

p.home{
    font-size: 32px;
    text-align: center;
}
img{
    width: 80vw;
    height: auto;
}
